* {
    padding: 0;
    margin: 0;
}

#root {
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-color: var(--separator-color);
    min-height: calc(100vh - 20px);
    padding: 10px;
    justify-items: center;
    font-family: sans-serif, serif, monospace;
    --light-gray: #efefef;
    --text-color: #fff;
    --layout-color: #192657;
    --separator-color: #efefef;
}

.boxes-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 90%;
    padding: 10px;
    gap: 15px;
    transition: all 1s ease-in-out;
}

.inputs-box {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

summary {
    cursor: pointer;
    font-weight: bold;
}

.box-title {
    font-size: 1.25rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 10px;
}

input {
    padding: 5px 5px;
    border-radius: 5px;
    border: 0px;
    max-width: 100%;
    background-color: var(--separator-color);
}

label {
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10%;
    flex-wrap: wrap;
}

.plus-button {
    border: none;
    background: rgb(0, 162, 255);
    padding: 6px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.delete-button {
    border: none;
    background-color: rgb(238, 75, 75);
    padding: 6px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.live-preview {
    max-width: 720px;
    background-color: white;
}

.live-personal-data {
    color: white;
    background-color: var(--decoration-color);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 5px;
    align-content: flex-start;
}

.live-personal-data > p,
.live-personal-data > h1 {
    max-width: 80%;
}

.live-fullname {
    width: 100%;
    font-size: 2rem;
}

.live-educations,
.live-experiences {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    align-self: center;
}

.live-separator {
    background-color: var(--separator-color);
    width: 100%;
    text-align: center;
    line-height: 2rem;
    font-size: 1.5rem;
    color: var(--decoration-color);
}

.live-education-item,
.live-experience-item {
    display: flex;
    width: 100%;
    column-gap: 10px;
}

.first-column {
    min-width: 40%;
}

.second-column {
    min-width: 60%;
}

.live-bold {
    font-weight: bold;
}

.svg {
    height: 21px;
    fill: var(--header-text-color);
}

.header-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.education-item,
.experience-item {
    border-bottom: 2px solid var(--light-gray);
}

.layout-button {
    background-color: white;
    border: none;
}

.button-box,
.button-box-vertical {
    height: 64px;
    width: 64px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
}

.button-box-vertical {
    flex-direction: column;
}

.button-box-color-top,
.button-box-white-down {
    height: 50%;
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.button-box-color,
.button-box-white {
    width: 50%;
    height: 100%;
}

.layout-button-left {
    border-radius: 8px 0 0 8px;
}

.layout-button-right {
    border-radius: 0 8px 8px 0;
}

.color-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    height: 80px;
    width: 80px;
    border: none;
    cursor: pointer;
}

.color-input::-webkit-color-swatch {
    border-radius: 50%;
    border: 1px solid black;
}

.color-input::-moz-color-swatch {
    border-radius: 50%;
    border: 1px solid black;
}

.font-button {
    border: 1px solid black;
    height: 64px;
    width: 64px;
    border-radius: 10px;
}

.font-preview {
    font-size: 2rem;
    font-weight: bold;
}

.serif {
    font-family: serif;
}

.sans {
    font-family: sans-serif;
}

.mono {
    font-family: monospace;
}

button {
    cursor: pointer;
}

.live-top {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.live-left {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: stretch;
}

.history-container {
    display: flex;
    justify-self: center;
    flex-direction: column;
    margin: 20px 0;
    gap: 20px
}

.pressed {
    background: var(--layout-color);
    color: var(--text-color);
}

@media (max-width: 980px) {
    #root {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .live-preview {
        min-width: calc(90vw - 20px);
        min-height: calc((90vw - 20px) * 1.41);
    }
}

@media (max-width: 1060px) and (min-width: 980px) {
    #root {
        grid-template-columns: 1fr 7fr;
    }
}

@media (max-width: 1250px) and (min-width: 1060px) {
    #root {
        grid-template-columns: 3fr 7fr;
    }
}